.sticky__image
  .sticky__image_wrapper
    .sticky__image__item
      img(src='./assets/img/1.jpg')
    .sticky__image__item
      img(  src='./assets/img/2.jpg')
    .sticky__image__item
      img(  src='./assets/img/3.jpg')
    .sticky__image__item
      img(  src='./assets/img/2.jpg')
    .sticky__image__item
      img(  src='./assets/img/3.jpg')

