.info#info
  .info__container
    .info__content
      .info__title
        div.js-split-text.-desk
          p(data-split-text)
            span Это не просто барбершоп
          p(data-split-text)
            span а продолжение философии
          p(data-split-text)
            span.white  бунтарства&nbsp;
            span и&nbsp;
            span.white  уличной эстетики
        div.js-split-text.-mob
          p(data-split-text)
            span Это не просто
          p(data-split-text)
            span барбершоп
          p(data-split-text)
            span а продолжение
          p(data-split-text)
            span философии
            span.white  бунтарства&nbsp;
          p(data-split-text)
            span и
            span.white уличной эстетики
      .info__content_text.js-split-text
        div.js-split-text.-desk
          p(data-split-text)
            span Наше&nbsp;
            span.white новое&nbsp;
            span пространство
          p(data-split-text)
            span созданное в сотрудничестве
          p(data-split-text)
            span с дизайнером&nbsp;
            span.white  Валентиной Дукмас
          p(data-split-text)
            span и расположенное на месте, где 10 лет
          p(data-split-text)
            span назад был открыт&nbsp;
            span.white  первый магазин
          p(data-split-text)
            span «Питерский Щит».
        div.js-split-text.-mob
          p(data-split-text)
            span Наше
            span.white новое
            span пространство
          p(data-split-text)
            span созданное в сотрудничестве
          p(data-split-text)
            span с дизайнером
            span.white  Валентиной Дукмас
          p(data-split-text)
            span и расположенное на месте, где 10
          p(data-split-text)
            span лет назад был открыт
            span.white  первый
          p(data-split-text)
            span.white магазин
            span «Питерский Щит».
      .info__content_image
        img(src='./assets/img/designer.jpg')
    .info__3d
      .model model

