.info#info
  .info__container
    .info__content
      .info__title
        div.js-split-text.-desk
          p Наше новое пространство созданное в сотрудничестве с дизайнером Валентиной Дукмас и расположенное на месте, где 10 лет назад был открыт первый магазин «Питерский Щит»
          //p(data-split-text)
          //  span Это не просто барбершоп
          //p(data-split-text)
          //  span а продолжение философии
          //p(data-split-text)
          //  span.white  бунтарства&nbsp;
          //  span и&nbsp;
          //  span.white
          //    i уличной
          //p(data-split-text)
          //  span.white
              i эстетики

        //div.js-split-text.-mob
        //  p(data-split-text)
        //    span Это не просто
        //  p(data-split-text)
        //    span барбершоп
        //  p(data-split-text)
        //    span а продолжение
        //  p(data-split-text)
        //    span философии&nbsp;
        //    span.white  бунтарства&nbsp;
        //  p(data-split-text)
        //    span и&nbsp;
        //    span.white
        //      i уличной эстетики
      .info__content_image
        img(src='./assets/img/designer.jpg')


