.image-text#about
  .image-text__container.-desk
    .image-text__image
      .image-text__image_item
        img(  src='./assets/img/1.jpg')
      .image-text__image_item
        img(  src='./assets/img/2.jpg')
      .image-text__image_item
        img(  src='./assets/img/3.jpg')
      .image-text__image_item
        img(  src='./assets/img/4.jpg')
    .image-text__content
      .image-text__content_item.fs-l
        p Пространство разделено&nbsp;
          span.white на 
            i две 
            | зоны
      .image-text__content_item
        p Первая —&nbsp;
          span.white
            i зона ожидания
          |, оформленная плиткой в шашечку. Здесь вас встретит диван из отпиленной части&nbsp;
          span.white BMW E34 яркого символа улиц и скорости.
        p Журнальные столики из металла, выполненные&nbsp;
          span.white в форме букв&nbsp;
            i «П»&nbsp;
            | и&nbsp;
            i «Щ»
          |, перекликаются с нашей фирменной символикой.
      .image-text__content_item
        p Вторая зона —&nbsp;
          span.white
            i рабочая
          | . Раковины для мытья головы расположены прямо напротив кресел — это решение восходит к традициям старых парикмахерских, где всё делалось на одном месте для максимального&nbsp;
          span.white удобства и скорости.
      .image-text__content_item
        p На стенах вручную расклеены фотографии&nbsp;
          span.white
            i Романа Челюсти
          |, которые рассказывают&nbsp;
          span.white историю нашего бренда.
  .image-text__container.-mob
    .image-text__card
      .image-text__card_image
        img(  src='./assets/img/1.jpg')
      .image-text__card_content.fs-l
        p Пространство разделено&nbsp;
          span.white на две зоны
    .image-text__card
      .image-text__card_image
        img(  src='./assets/img/2.jpg')
      .image-text__card_content
        p Первая —&nbsp;
          span.white зона ожидания
          | , оформленная плиткой в шашечку. Здесь вас встретит диван из отпиленной части&nbsp;
          span.white BMW E34 яркого символа улиц и скорости.
        p Журнальные столики из металла, выполненные&nbsp;
          span.white в форме букв «П» и «Щ»
          | , перекликаются с нашей фирменной символикой.
    .image-text__card
      .image-text__card_image
        img(  src='./assets/img/3.jpg')
      .image-text__card_content
        p Вторая зона —&nbsp;
          span.white рабочая
          | . Раковины для мытья головы расположены прямо напротив кресел — это решение восходит к традициям старых парикмахерских, где всё делалось на одном месте для максимального&nbsp;
          span.white удобства и скорости.
    .image-text__card
      .image-text__card_image
        img(  src='./assets/img/4.jpg')
      .image-text__card_content
        p На стенах вручную расклеены фотографии&nbsp;
          span.white Романа Челюсти
          | , которые рассказывают&nbsp;
          span.white историю нашего бренда.





