extends ../layouts/hero

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content
  include ../components/content/contacts/contacts
  include ../components/content/info/info
  include ../components/content/image_text/image_text
  div(style='height: 100vh; background:;')
block script


