extends ../layouts/hero

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content
  include ../components/content/contacts/contacts
  <div style='height:100lvh;'></div>
  .model_wrapper
    .model__3d
      .model modelmodelmodelmodelmodelmodelmodelmodelmodelmodelmodelmodel
    include ../components/content/info/info
    include ../components/content/about/about
    include ../components/content/infinity_image/infinity_image

  //div(style='height: 100vh; background:red;')
block script


