header.header
  .header__container
    .header__logo
      img(  src='./assets/img/logo.png')
    nav.nav.-desk
      .nav__item
        a(href='#info') Философия
      .nav__item
        a(href='#about') о парикмахерской
      .nav__item
        a(href='#contacts') контакты
    .header__burger.-mob
      span
      span
      span
.menu.-mob
  .nav
    .nav__item
      a(href='#info') Философия
    .nav__item
      a(href='#about') о парикмахерской
    .nav__item
      a(href='#contacts') контакты
    a(href='').button-menu
      span записаться





