header.header
  .header__container
    .header__logo
      img(  src='./assets/img/logo.svg')
    nav.nav.-desk
      .nav__item
        a(href='#info').slide_up
          span(data-hover="Философия") Философия
      .nav__item
        a(href='#about').slide_up
          span(data-hover="о парикмахерской") о парикмахерской
      .nav__item
        a(href='#contacts').slide_up
          span(data-hover="контакты") контакты
    .header__burger.-mob
      span
      span
.menu.-mob
  .nav
    .nav__item
      a(href='#info') Философия
    .nav__item
      a(href='#about') о парикмахерской
    .nav__item
      a(href='#contacts') контакты
    a(href='' target='_blank').button-menu
      span записаться





