footer.footer
  .footer__container
    .footer__actions
      a(href='https://clck.ru/3DZ4m7' target='_blank').button
        span записаться
    .footer__logo
      img(  src='./assets/img/logo.svg')
      .footer__copyright
        .slide_up
          span(data-hover="made in ritmo")
            a(href='t.me/ritmo_studio' target='_blank') made in ritmo
        //a(href='t.me/ritmo_studio' target='_blank') made in ritmo
