.contacts
  background-color: #ffffff
  @media (min-width: 641px)
    min-height: 600px
    height: 100vh
  &__container
    display: flex
    flex-direction: column-reverse
    @media (min-width: 641px)
      display: grid
      grid-template-columns: calc(var(--u-ritmo-verticale-vw) * 90.5) 1fr
      height: 100%


  &__map
    //width: calc(var(--u-ritmo-verticale-vw) * 90.5)
    //height: 100%
    aspect-ratio: 375/488
    width: 100%
    position: relative
    filter: grayscale(1)
    @media (min-width: 641px)
      aspect-ratio: auto
    &:after
      content: ''
      position: absolute
      inset: 0
      background: #fff
      mix-blend-mode: exclusion
      pointer-events: none
    #map
      width: 100%
      height: 100%
  &__content
    display: flex
    flex-direction: column
    align-items: end
    justify-content: flex-end
    padding: 0 calc(var(--u-ritmo-verticale-vw) * 1)
    margin: auto 0 calc(var(--u-ritmo-verticale-vw) * 2)
    height: 100svh
    @media (min-width: 641px)
      padding: calc(var(--u-ritmo-verticale-vw) * 5)
      margin: 0
      height: initial
  &__items
    display: flex
    flex-direction: column
    width: 100%
    justify-content: flex-end
    gap: calc(var(--u-ritmo-verticale-vw) * 2.5)
    margin-bottom: calc(var(--u-ritmo-verticale-vw) * 14)
    @media (min-width: 641px)
      gap: calc(var(--u-ritmo-verticale-vw) * 3)
      margin-bottom: 0
  &__item
    display: flex
    align-items: end
    justify-content: space-between
    border-bottom: 1px solid var(--default-text)
    padding-bottom: calc(var(--u-ritmo-verticale-vw) * .5)
    @media (min-width: 641px)
      padding-bottom: calc(var(--u-ritmo-verticale-vw) * 1)
    & > span
      text-transform: uppercase
      font-size: calc(var(--u-ritmo-verticale-vw) * 1.5)
      line-height: calc(var(--u-ritmo-verticale-vw) * 2)
      letter-spacing: -.02em
      @media (min-width: 641px)
        font-size: calc(var(--u-ritmo-verticale-vw) * 1.75)
        line-height: calc(var(--u-ritmo-verticale-vw) * 2)
    p
      font-size: calc(var(--u-ritmo-verticale-vw) * 3)
      line-height: calc(var(--u-ritmo-verticale-vw) * 3)
      letter-spacing: -.04em
      font-weight: 500
      margin: 0
      max-width: calc(var(--u-ritmo-verticale-vw) * 22.875)
      width: 100%
      @media (min-width: 641px)
        max-width: calc(var(--u-ritmo-verticale-vw) * 45.25)
        font-size: calc(var(--u-ritmo-verticale-vw) * 5)
        line-height: calc(var(--u-ritmo-verticale-vw) * 5)
    &:last-of-type
      margin-top: calc(var(--u-ritmo-verticale-vw) * 5)
  &__actions
    margin-top: calc(var(--u-ritmo-verticale-vw) * 7)
    width: 100%
    .button
      background-color: #171717
      span,
      &:after
        filter: invert(1)
      &:hover
        background-color: #343434
      span,
      &:after
        filter: invert(1)
