.contacts
  background-color: #ffffff
  position: fixed
  width: 100%
  top: 0
  @media (min-width: 641px)
    min-height: 600px
    height: 100vh
  &__container
    display: flex
    flex-direction: column-reverse
    @media (min-width: 641px)
      display: grid
      grid-template-columns: calc(var(--u-ritmo-verticale-vw) * 90.5) 1fr
      height: 100%
  &__map
    aspect-ratio: 375/488
    width: 100%
    position: relative
    filter: grayscale(1)
    @media (min-width: 641px)
      aspect-ratio: auto
    &:after
      content: ''
      position: absolute
      inset: 0
      background: #fff
      mix-blend-mode: exclusion
      pointer-events: none
    #map
      width: 100%
      height: 100%
  &__content
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: 0 calc(var(--u-ritmo-verticale-vw) * 1)
    margin: auto 0 calc(var(--u-ritmo-verticale-vw) * 2)
    @media (min-width: 641px)
      padding: calc(var(--u-ritmo-verticale-vw) * 3) calc(var(--u-ritmo-verticale-vw) * 5)
      margin: 0
  &__media
    position: relative
    display: flex
    justify-content: center
    height: 100%
    p
      position: absolute
      left: 0
      top: 0
      font-size: calc(var(--u-ritmo-verticale-vw) * 2)
      font-weight: 700
      color: #171717
      max-width: calc(var(--u-ritmo-verticale-vw) * 30)
      text-transform: uppercase
    img
      width: auto
      max-height: 80vh
  &__items
    display: flex
    flex-direction: column
    width: 100%
    justify-content: flex-end
    margin-bottom: calc(var(--u-ritmo-verticale-vw) * 14)
    @media (min-width: 641px)
      margin-bottom: 0
  &__item
    display: flex
    align-items: end
    justify-content: space-between
    & > span
      text-transform: uppercase
      font-size: calc(var(--u-ritmo-verticale-vw) * 1.5)
      line-height: calc(var(--u-ritmo-verticale-vw) * 2)
      letter-spacing: -.02em
      @media (min-width: 641px)
        font-size: calc(var(--u-ritmo-verticale-vw) * 1.75)
        line-height: calc(var(--u-ritmo-verticale-vw) * 2)
    p
      font-size: calc(var(--u-ritmo-verticale-vw) * 2)
      line-height: calc(var(--u-ritmo-verticale-vw) * 1.5)
      letter-spacing: -.04em
      font-weight: 500
      margin: 0
      max-width: calc(var(--u-ritmo-verticale-vw) * 22.875)
      width: 100%
      text-transform: uppercase
      @media (min-width: 641px)
        max-width: calc(var(--u-ritmo-verticale-vw) * 55)
        font-size: calc(var(--u-ritmo-verticale-vw) * 2.5)
        line-height: calc(var(--u-ritmo-verticale-vw) * 2.5)
        text-align: right
  &__actions
    margin-top: calc(var(--u-ritmo-verticale-vw) * 7)
    width: 100%
    .button
      background-color: #171717
      span,
      &:after
        filter: invert(1)
      &:hover
        background-color: #343434
      span,
      &:after
        filter: invert(1)
