.contacts#contacts
  .contacts__container
    .contacts__map
      #map
        <script src="https://api-maps.yandex.ru/2.1/?apikey=eedef263-b8cb-4f82-bd4f-7896d038674b&lang=ru_RU" type="text/javascript"></script>
      //img(  src='./assets/img/map.jpg')
    .contacts__content
      .contacts__media
        p — Это не просто барбершоп, а продолжение философии бунтарства и уличной эстетики.
        img(  src='./assets/img/contacts-test.jpg')
      .contacts__items
        .contacts__item
          span Адрес
          p Санкт-Петербург, ул.&nbsp;Жуковского, 13
        .contacts__item
          span График работы
          p каждый день с&nbsp;11:00&nbsp;до&nbsp;21:00
        .contacts__item
          span Телефон
          p
            a(href='tel:+79112149948').slide_up
              span(data-hover="+7 911 214 99 48") +7 911 214 99 48

